<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加书籍</title>
    <style>
        .inpgroup{
            height: 20px;
            width: 500px;
            margin-top: 20px;
            margin-left: 20px;
            font-size: 20px;
        }
        .inpgroup input{
            height: 30px;
            width: 200px;
            font-size: 20px;
        }
        button{
            height: 40px;
            width: 100px;
            margin-top:40px;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <form id="editform" action="postServlet2" method="post">

    </form>
    <form id="changefrom">
        <div class="inpgroup">
            <span class="loginIco1">书籍名称:</span>
            <input type="text" id="bookname" name="bookname"  >
        </div>
        <div class="inpgroup">
            <span class="loginIco1">书籍作者:</span>
            <input type="text" id="authorname" name="authorname" >
        </div>
        <div class="inpgroup">
            <span class="loginIco1">出版社:</span>
            <input type="text" id="pressname" name="pressname" >
        </div>
        <div class="inpgroup">
            <span class="loginIco1">发布时间:</span>
            <input type="text" id="booktime" name="booktime" >
        </div>
        <div class="inpgroup">
            <span class="loginIco1">剩余数量:</span>
            <input type="text" id="booknum" name="booknum">
        </div>
        <div class="inpgroup">
            <span class="loginIco1">价格:</span>
            <input type="text" id="price" name="price">
        </div>

        <button class="submit" type="submit">添加</button>
    </form>
</body>
<script src="../public/js/jquery.js"></script>
<script>
    $('#changefrom').on('submit', function (e) {
            var bookname = document.getElementById("bookname").value;
            var authorname = document.getElementById("authorname").value;
            var pressname = document.getElementById("pressname").value;
            var booktime = document.getElementById("booktime").value;
            var booknum = document.getElementById("booknum").value;
            var price = document.getElementById("price").value; 

            var data = $.param({"bookname":bookname}) 
            + "&"+$.param({"authorname":authorname}) + "&" +$.param({"pressname":pressname}) 
            + "&"+$.param({"booktime":booktime}) + "&" +$.param({"booknum":booknum}) 
            + "&"+$.param({"price":price}) + "&"+ $("#editform").serialize() + "";

			$.ajax({
                url: '/bookadd',
                type: 'post',
                data: data,
                processData:false,
                success: function (data) {
                    var err_code = data.err_code
                    console.log(data)
                    if (err_code === 0) {
                        window.alert('添加成功!');
                    } else if (err_code === 1) {
                        window.alert('输入数据有误。添加失败！')
                    }
                  
                }
            })
        })
</script>
</html>